---
title: Impressum
subTitle: Utillities and Vehicles
---
<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		{% include header.html %}

    <div class="content-section-a">
      <div class="row">
        <div class="container">
          <div class="col-lg-12 card">
						<p>Raise UAV ist ein junges Startup mit Sitz in Jena. Wir entwickeln und produzieren Open Source UAV Systeme und Zubehör für ein breites Anwendungsspektrum.</p>
	<p>Ziel des Gesamtprojektes sind Leistungstarke UAV Systeme ohne Barrieren, die für Maker, Kreative, Industrie und Forschung gleichermaßen eine Plattform bilden, Kosten reduzieren und neue Anwendungsfelder erschließen können.</p>
	<p>Als Grundlage werden bekannte und etablierte Komponenten verwendet, wie etwa der Rapsberry Pi, Arduino, openMV, Python, Arducopter, Pixhawk und andere.</p>
	<p>Die Rahmen sollen allesamt selbst und einfach herzustellen sein, daher sind die Konstruktionen so gewählt, dass sie auch mit kleineren 3D Druckern kompatibel sind. Komponenten, wie die teilweise unumgänglichen Centerplates oder Druckerrahmen, können auf einfachen Fräsen wie der MPCNC, die wir selbst verwenden, oder per Hand produziert werden.</p>
	<p>Erhältlich sind die Projekte, nach ausgiebiger Erprobung, in drei Formen:</p>
	<ol>
	<li>Konstruktionspläne (Eigenbau)</li>
	<li>Bausatz</li>
	<li>Fertiges Komplettsystem</li>
	</ol>
	<p><em>Weitere Informationen, Abbildungen und Dokumentation folgen mit dem Fortschritt der einzelnen Projekte.</em></p>



</div>
</div>
</div>
</div>

		{% include contact.html %}
		{% include footer.html %}
		{% include js.html %}




	</body>
</html>
