---
title: Alaxis
subTitle: 3D-Drucker für den professionellen Einsatz im Prototyping oder für die Produktion kleiner Losgrößen.
---
<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>

		{% include header.html %}


    <div class="content-section-a">
			<div class="row">

        <div class="container">
					<div class="col-lg-6">
						<hr>
						<img class="img-responsive animated"hoch src="img/hardware/alaxis-logo.svg" alt="Chicago">
						<hr>
						<h4>Produktionspartner</h4>
						<br>
						<p>Sie suchen einen ausgereiften FDM Drucker für die von Anfang an erfolgreiche Prototypen-Erstellung? Wir von raise-UAV haben ausführliche Tests und Studien betrieben für einen reibungslosen Ablauf mit hervorragenden Druckergebnissen. Einstoepseln, Datei hochladen und losdrucken. Das wars. Unsere erstellten Profile passen perfekt zu unseren Filamenten und werden Sie überraschen...</p>
					</div>

					<div class="col-lg-6 ">
						<img class="img-responsive img-rounded"src="img/hardware/AlaxisIso.jpg" alt="Chicago">
					</div>
				</div>
			</div>

<div class="content-section-a">
	<div class="row">
		<div class="container">
			<div class="col-lg-6">
				<img class="img-responsive img-rounded"src="img/hardware/Ergebnis.jpg" alt="Chicago">
			</div>

			<div class="col-lg-6">
				<h4>Scharf, definiert und lautlos</h4>
				<hr>
				<p>Die Druckqualität des Alaxis wird sie begeistern. Feine Details, steile Überhänge oder große saubere Flächen mit hoher Genauigkeit, bei gleichzeitig geringster Geräuschentwicklung. Drucken sie direkt am Arbeitsplatz ohne störende Maschinensounds.</p>

			</div>
		</div>
	</div>
</div>

<div class="content-section-a">
	<div class="row">

		<div class="container">
			<div class="col-lg-6">
				<h4>Sicherer Halt</h4>
				<hr>
				<p>Ein wichtiger Punkt bei der reibungslosen Herstellung von kleineren Serien ist eine gute Betthaftung. Das große Aluminimumbett mit spezieller Oberflächenbehandlung heizt sich in kürzester Zeit auf und hält die Temperatur mit hohem Wirkungsgrad. Das sorgt für schnelle Bereitschaftszeiten und geringe Energiekosten bei sicherer Haftung.</p>
			</div>

			<div class="col-lg-6">
				<img class="img-responsive img-rounded"src="img/hardware/heatbed.jpg" alt="Chicago">
			</div>

		</div>
	</div>
</div>

<div class="content-section-a">
	<div class="row">
		<div class="container">
			<div class="col-lg-6">
				<img class="img-responsive img-rounded"src="img/hardware/onboard.jpg" alt="raspi">
			</div>

			<div class="col-lg-6">
				<h4>Stand-alone</h4>
				<hr>
				<p>Das Kontrollzentrum des Alaxis, ausgestattet mit der zukunftsorientierten Klipper-Firmware, sorgt für unterbrechungsfreie Drucke. Per Fernwartung können Firmwareeinstellungen vorgenommen werden sowie die neuesten Updates eingespielt.</p>
			</div>
		</div>
	</div>
</div>

<div class="content-section-a">
	<div class="row">
		<div class="container">
			<div class="col-lg-6">
				<h4>Komfortable Weboberfläche</h4>
				<hr>
				<p>Mit der integrierten Weboberfläche können sie von verschiedenen Arbeitsplätzen, über Wifi, neue Aufträge an den Drucker senden und diese nach und nach Abwickeln lassen. Der Filament-Manager gibt Ihnen eine ausführliche Statistik über die genutzten Filamente und Kostenberechnung für Ihre Teile. Durch die integrierte Kamera kann von unterwegs der Druck eingesehen werden.</p>
				</div>

			<div class="col-lg-6">
				<img class="img-responsive img-rounded"src="img/hardware/web.jpg" alt="Chicago">
			</div>
		</div>
	</div>
</div>

<div class="content-section-a">
	<div class="row">
		<div class="container">
			<div class="col-lg-6">
				<img class="img-responsive img-rounded"src="img/hardware/filament1.jpg" alt="raspi">
			</div>

			<div class="col-lg-6">
				<h4>Materialvielfalt</h4>
				<hr>
				<p>Profitieren sie von einer breiten Filamentpalette, die für viele Situationen die richtigen Eigenschaften und Farben mitbringt.</p>
				<ul>
					<li>PLA</li>
					<li>TPU</li>
					<li>PETG</li>
					<li>PC</li>
					<li>Nylon</li>
					<li>BDP "Greentec"</li>
					<li>Iglidur</li>
					<li>und weitere..</li>
				</ul>
			</div>
		</div>
	</div>
</div>



</div>



	<div class="content-section-a">

		<div class="container">
				<div class="col-lg-6 animated"fade>
					<h4>Technische Daten</h4>
						<table class="table">
								<hr>
								<tbody>
									<tr>
										<td>Bauraum:</td>
										<td>300 mm x 300 mm x 270 mm</td>

									</tr>
									<tr>
										<td>Druckgeschwindigkeit:</td>
										<td>60mm/s typisch, 120mm/s max</td>

									</tr>
									<tr>
										<td>Extruder:</td>
										<td>E3D Titan Aero</td>

									</tr>
									<tr>
									 <td>Heizbett:</td>
									 <td>SSR powered 250 Watt</td>
									</tr>
								</tbody>
					</table>
				</div>




</div>

		<div class="container">

			<div class="row">
		<div class="col-lg-12 animated"fade>

				<h4>Bewährte Komponenten</h4>
					<hr>
					<div class="col-lg-12">
					<img class="img img-rounded animated" src="img/companys.svg" alt="Hullk">
			</div>

			</div>
			</div>
			</div>




<!--
<div class="content-section-a">

	<div class="container">

		<div class="row">
	<div class="col-lg-12">
			<h3 style="text-align:center;"> Druckqualitätsdemo des Vorgängers </h3>
			<hr>
			<div class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/8MGBljWTqjs?rel=0&amp;showinfo=0" allowfullscreen></iframe>
			<hr>
			</div>
			</div>
			</div>

			</div>
	</div>
-->

</div>
<hr>
{% include contact.html %}
{% include footer.html %}
{% include js.html %}
</html>
