---
title: Alaxis
subTitle: Produktionspartner
---
<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>

		{% include header.html %}


    <div class="content-section-a">
			<div class="row">

        <div class="container">
					<div class="col-lg-6">
						<hr>
						<img class="img-responsive animated"hoch src="img/hardware/alaxis-logo.svg" alt="Chicago">
						<hr>
						<p>Solider FDM Drucker als zuverlässiger Produktionspartner im täglichen Einsatz.</p>
						<br>
						<p>Langzeitgeteste Originalkomponenten sorgen für einen reibungslosen Ablauf. Die übrigen Komponenten sind so konstruiert das sie ein maximum an Steifigkeit aufweisen was zu dem sehr guten Druckbild und der hohen Präzision beitragen. Zudem sind sie möglichst minimal aufgebaut um eine Modifikation seitens des Nutzers zu gewährleisten.</p>
					</div>

					<div class="col-lg-6 ">
						<img class="img-responsive img-rounded"src="img/hardware/alaxis_tr.png" alt="Chicago">
					</div>
				</div>
			</div>

<div class="content-section-a">
	<div class="row">
		<div class="container">
			<div class="col-lg-6">
				<img class="img-responsive img-rounded"src="img/hardware/alaxis_head_tr.png" alt="Chicago">
			</div>

			<div class="col-lg-6">
				<h4>Druckkopf</h4>
				<hr>
				<p>Modularer, spielfreier Druckkopf mit servogetriebenem Z-Level Sensor und vergleichsweise leisem und langlebigem EBM-Papst Axiallüfter. Befestigt wird die Kopfhalterung auf einer Schnellwechselplatte. Durch sie können beliebige andere Systeme wie Laser, Spindeln oder Dual-Extruder mechanisch relativ einfach in das System integriert werden.</p>
			</div>
		</div>
	</div>
</div>

<div class="content-section-a">
	<div class="row">

		<div class="container">
			<div class="col-lg-6">
				<h4>Rahmen und Bett</h4>
				<hr>
				<p>Der Alaxis verfügt über eine besonders steife Aluminiumrahmenkonstruktion mit großem 300mm X 300mm Druckbett. Die 250 Watt starke Bettheizung wird von einem SSR betrieben was hohe Effiziens und kurze Aufheizzeiten ermöglicht. Die dafür notwendigen Komponenten sind vollsständig eingehaust und Sicherheitstechnisch unbedenklich. Die Steuerelektronik ist in einer gut zugängigen Controllbox untergebracht die bei Verwendung eines anderen Controllerboards als das Standardmäßig verwendete eine Integration vereinfacht. </p>
			</div>

			<div class="col-lg-6">
				<img class="img-responsive img-rounded"src="img/hardware/alaxis_frame_tr.png" alt="Chicago">
			</div>

		</div>
	</div>
</div>

<div class="content-section-a">
	<div class="row">
		<div class="container">
			<div class="col-lg-6">
				<img class="img-responsive img-rounded"src="img/hardware/alaxis_portal_tr.png" alt="Chicago">
			</div>

			<div class="col-lg-6">
				<h4>Variable Komponenten</h4>
				<hr>
				<p>Die minimalisitischen Bauteile sind neben ihrer optimierung für Steifigkeit dazu ausgelegt einfach  modifiziert werden zu können. Die XZ-Blöcke z.B. sind bereits für eine IDEX Konfiguration vorbereit. Auch das gesamte Portal lässt sich verschieben und leicht neigen für eine exakte Ausrichtung und Anpassung an verschiedene Druck und Bearbeitungswerkzeuge.</p>
			</div>
		</div>
	</div>
</div>

<div class="content-section-a">
	<div class="row">
		<div class="container">
			<div class="col-lg-6">
				<h4>Ergebnisse</h4>
				<hr>
				<p>Während einer einjährigen Testphase in der Produktion wurden alle Komponentnen und Software auf optimale Ergebnisse hin optimiert. Das daraus resultierende Druckbild zeigt keine Schwächen und hält auch mit industriellen Druckern schritt.</p>
				</div>

			<div class="col-lg-6">
				<img class="img-responsive img-rounded"src="img/hardware/alaxis_demo.png" alt="Chicago">
			</div>
		</div>
	</div>
</div>



</div>



	<div class="content-section-a">

		<div class="container">
				<div class="col-lg-6 animated"fade>
					<h4>Technische Daten</h4>
						<table class="table">
								<hr>
								<tbody>
									<tr>
										<td>Bauraum:</td>
										<td>270 mm x 270 mm x 270 mm</td>

									</tr>
									<tr>
										<td>Druckgeschwindigkeit:</td>
										<td>60mm/s typisch, 120mm/s max</td>

									</tr>
									<tr>
										<td>Extruder:</td>
										<td>E3D Titan Aero</td>

									</tr>
									<tr>
									 <td>Heizbett:</td>
									 <td>SSR powered 250 Watt</td>
									</tr>
								</tbody>
					</table>
				</div>

				


</div>

		<div class="container">

			<div class="row">
		<div class="col-lg-12 animated"fade>

				<h4>Bewährte Komponenten</h4>
					<hr>
					<div class="col-lg-12">
					<img class="img img-rounded animated" src="img/companys.svg" alt="Hullk">
			</div>

			</div>
			</div>
			</div>





<div class="content-section-a">

	<div class="container">

		<div class="row">
	<div class="col-lg-12">
			<h3 style="text-align:center;"> Druckqualitätsdemo des Vorgängers </h3>
			<hr>
			<div class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/8MGBljWTqjs?rel=0&amp;showinfo=0" allowfullscreen></iframe>
			<hr>
			</div>
			</div>
			</div>

			</div>
	</div>


</div>
<hr>
{% include contact.html %}
{% include footer.html %}
{% include js.html %}
</html>
