---
title: Hardware
subTitle: Utillities and Vehicles
---
<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include header.html %}

<div class="container-fluid">
	<div class="col-lg-12 col-sm-12">
     <img class="img-responsive " src="img/hardware/hardware_green.jpg" alt="">
	</div>
</div>

 <div class="page">
	 <hr
   <div class="content-section-a">
       <div class="container">
           <div class="row">
						 <div class="block">
							 <div class="col-lg-6 col-sm-6">
								 <div class="card animated"rechts>
								 <a href="d3.html">
                   <img class="img-responsive img-rounded" src="img/hardware/d3spaceclean1.jpg"  href="d3.html" alt="">
									</a>
               </div>
             </div>

               <div class="col-lg-4 col-lg-offset-2 col-sm-6">
                   <img class="img img-rounded" src="img/hardware/alaxis-logo.svg"  href="d3.html" alt="Alaxis">
									 <hr>
                   <div class="lead">Produktionspartner</div>
									 <p>Der Alaxis ist die konsequente Weiterentwicklung des bewährten D³.</p>
									 <br>
									 <a href="d3.html" class="btn btn-info" role="button">Mehr dazu</a>
               </div>
             </div>
					 </div>
           </div>
          </div>
          <!-- /.container -->

      </div>
      <div class="content-section-a">
          <div class="container">
              <div class="row">
								<div class="block">
									<div class="col-lg-4 col-sm-6">

                      <img class="img img-rounded animated" src="img/hardware/hullk.svg" href="hullk.html" alt="Hullk">
											<hr>
											<div class="lead">Für Ideen die den Rahmen sprengen</div>
											<p>Der Hullk ist ein Polar- 3D-Drucker für große Visionen.</p>
											<p>Derzeit noch in Entwicklung.</p>
											<br>
											<a href="hullk.html" class="btn btn-warning" role="button">Mehr dazu</a>
                  </div>


	                <div class="col-lg-6 col-lg-offset-2  col-sm-6">
										<div class="card animated"links>
										<a href="hullk.html">
	                    <img class="img-responsive img-rounded" src="img/hardware/hullkoceanfinal2clean.jpg"   alt="">
										</a>
	                </div>
	              </div>


								</div>

							</div>
              </div>

          </div>
      <div class="content-section-a">

          <div class="container">


						<div class="row">
						<div class="block">
							<div class="col-lg-6 col-sm-6">
								 <div class="card animated"rechts>
								<a href="two-six.html">
									<img class="img-responsive img-rounded" src="img/hardware/y6rend5.jpg" alt="">
								</a>
							</div>
						</div>

                  <div class="col-lg-4 col-lg-offset-2 col-sm-6">

                      <img class="img img-rounded animated" src="img/hardware/libelle.svg" href="two-six.html" alt="Libelle">
											<hr>
                      <div class="lead">Das Allzweckwerkzeug</div>
											<p>Gebaut als ausdauernder Lastenträger mit kompakten Abmessungen. Äußerst modifizierbar und erweiterbar von wertigen DSLMs bis zu aktiv agierenden Containerlasten</p>
											<p>Derzeit noch in Entwicklung.</p>
											<br>
											<a href="two-six.html" class="btn btn-warning" role="button">Mehr dazu</a>
                  </div>
                </div>

          </div>

  </div>


		{% include contact.html %}
		{% include footer.html %}
	

	</body>
</html>
