---
title: Produkte
subTitle: 3D-Drucker und Drohnen von raise-UAV ~ Informieren Sie sich hier über unsere Modelle.
---
<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include header.html %}

<div class="container-fluid">
	<div class="col-lg-12 col-sm-12">
     <img class="img-responsive " src="img/hardware/hardware_green.jpg" alt="">
	</div>
</div>
 <hr>
<div class="row text-center">
		<div class="col-lg-8 col-lg-offset-2">
			<h1>Modellübersicht unserer 3D-Drucker und Drohnen</h1>
 <div class="page">
	 <hr>
   <div class="content-section-a">
       <div class="container">
           <div class="row">
						 <div class="block">
							 <div class="col-lg-6 col-sm-6">
								 <div class="card animated"rechts>
								 <a href="d3.html">
                   <img class="img-responsive img-rounded" src="img/hardware/d3spaceclean1.jpg"  href="d3.html" alt="">
									</a>
               </div>
             </div>

               <div class="col-lg-4 col-lg-offset-2 col-sm-6">
                   <img class="img img-rounded" src="img/hardware/alaxis-logo.svg"  href="d3.html" alt="Alaxis">
									 <hr>
                   <div class="lead">Produktionspartner</div>
									 <p>Bringt ihre Ideen in die Realität. FDM 3D-Drucker für das Herstellen von Kunststoffbauteilen im Protoyping und für die Kleinserienproduktion. Ebenfalls sehr gut geeignet für die Herstellung von Dekoartikeln, Marketingmaterial oder Ersatzteile für Instandhaltung und Restauration.</p>
									 <br>
									 <a href="d3.html" class="btn btn-info" role="button">Mehr dazu</a>
               </div>
             </div>
					 </div>
           </div>
          </div>
          <!-- /.container -->

      </div>
      <div class="content-section-a">
          <div class="container">
              <div class="row">
								<div class="block">
									<div class="col-lg-4 col-sm-6">

                      <img class="img img-rounded animated" src="img/hardware/hullk.svg" href="hullk.html" alt="Hullk">
											<hr>
											<div class="lead">Für Ideen die den Rahmen sprengen</div>
											<p>Der Hullk ist ein Großraum Polar-3D-Drucker für größere Bauteile bis 1,40m aus einem Guß.</p>
											<p>Entwicklungsstatus:</p>
											<br>
											<div class="progress">
  											<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:70%">
    											<span class="sr-only">70% Complete</span>
													70%
  											</div>
											</div>
											<a href="hullk.html" class="btn btn-info" role="button">Mehr dazu</a>
                  </div>


	                <div class="col-lg-6 col-lg-offset-2  col-sm-6">
										<div class="card animated"links>
										<a href="hullk.html">
	                    <img class="img-responsive img-rounded" src="img/hardware/hullksmall.jpg"   alt="">
										</a>
	                </div>
	              </div>


								</div>

							</div>
              </div>

          </div>
      <div class="content-section-a">

          <div class="container">


						<div class="row">
						<div class="block">
							<div class="col-lg-6 col-sm-6">
								 <div class="card animated"rechts>
								<a href="two-six.html">
									<img class="img-responsive img-rounded" src="img/hardware/y6rend5.jpg" alt="">
								</a>
							</div>
						</div>

                  <div class="col-lg-4 col-lg-offset-2 col-sm-6">

                      <img class="img img-rounded animated" src="img/hardware/libelle.svg" href="two-six.html" alt="Libelle">
											<hr>
                      <div class="lead">Allzweckdrohne</div>
											<p>Unsere Drohne „Libelle“ ist die ausdauernde Lastenträgerin. Sie lässt sich leicht modifizieren und erweitern.Trotz der kompakten Abmessungen trägt sie DSLM Kameras und sogar aktiv agierende Containerlasten.</p>
											<p>Entwicklungsstatus.</p>
											<br>
											<div class="progress">
  											<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
    											<span class="sr-only">70% Complete</span>
													30%
  											</div>
											</div>
											<a href="two-six.html" class="btn btn-info" role="button">Mehr dazu</a>
                  </div>
                </div>

          </div>

  </div>


		{% include contact.html %}
		{% include footer.html %}


	</body>
</html>
