---
title: HullK
subTitle: Print big for less
---
<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>

		{% include header.html %}

    <div class="content-section-a">


        <div class="container">
					<div class="col-lg-12">
						<hr>
					<img class="img img-rounded animated"runter src="img/hardware/hullk.svg" alt="Hullk">

					<hr>
		</div>
</div>
</div>
<div class="content-section-a">

	<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<img class="img-responsive img-rounded"src="img/hardware/hullk_trans.jpg" alt="Chicago">
				</div>
			</div>

</div>

	<div class="content-section-a">

		<div class="container">

			<div class="row ">

					<div class="col-lg-6">

					<h4>Gefühlt grenzenlos</h4>
					<hr>
					<p>"HullK" ist ein minimalistischer Polar 3D-Drucker für große Vorhaben. Der Extruder ist an den großen Bauraum angepasst so dass die Druckzeit für Große Bauteile kompensiert wird. Das endlos rotierende Druckbett eignet sich zudem hervorragendend für hüllenförmige Teile wie Flugzeug- oder Bootsrümpfe. Im weiteren Entwicklungsverlauf wird ein automatischer 3D Scanner den Funktionsumfang weiter abrunden. Dadurch wird auch das digitalisieren von größeren Objekten vereinfacht. </p>



					</div>

					<div class="col-lg-6">
						<h4>Technische Daten</h4>
						<hr>
						<table class="table">

						    <tbody>
						      <tr>
						        <td>Bauraum:</td>
						        <td>600 mm x 1400mm</td>

						      </tr>
						      <tr>
						        <td>Extruder:</td>
						        <td>E3D Titan mit Volcano Hotend </td>

						      </tr>
									<tr>
									 <td>Heizbett:</td>
									 <td>Nicht benötigt </td>
								 	</tr>

						    </tbody>
				  </table>
				</div>




	</div>

</div>

<div class="content-section-a">

	<div class="container">

		<div class="row">
	<div class="col-lg-12">
			<h4>Features</h4>
				<hr>
				<div class="col-lg-4">
					<img class="img-responsive img-rounded" src="img/hardware/hullkdruckkopf.png" alt="Kopf">
					<hr>
					<p>Leichter und Spielfreier X Achsen Schlitten mit E3D Titan Extruder und Volcano Hotend.</p>
					<hr>
				</div>
				<div class="col-lg-4">
					<img class="img-responsive img-rounded" src="img/hardware/hullkrahmen.png" alt="Rahmen">
					<hr>
					<p>Platzsparender Edelstahlrahmen mit Wandmontagemöglichkeit für noch mehr Stabilität</p>
					<hr>
				</div>
				<div class="col-lg-4">
					<img class="img-responsive img-rounded" src="img/hardware/hullkbearing.png" alt="Lager">
					<hr>
					<p>Spielfreie Kugellagerführungen auf der Z-Achse</p>
					<hr>
				</div>
		</div>

		</div>
		</div>
		</div>
		<div class="container">

			<div class="row">
		<div class="col-lg-12">
				<h4>Bewährte Komponenten</h4>
				<hr>
					<div class="col-lg-12">
						<img class="img img-rounded animated" src="img/companys.svg" alt="Hullk">
			</div>

			</div>
			</div>
			</div>





<div class="content-section-a">

	<div class="container">

		<div class="row">
	<div class="col-lg-12">
			<h3 style="text-align:center;"> Erste Drucktests aus der Entwicklungsphase </h3>
			<hr>
			<div class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/5UdZTpv9Lok?rel=0&amp;showinfo=0" allowfullscreen></iframe>
			<hr>
			</div>
			</div>
			</div>

			</div>
	</div>
</div>
<hr>
{% include contact.html %}
{% include footer.html %}
{% include js.html %}
</html>
