---
title: HullK - Documentation
subTitle: Dokumentation für den Aufbau eines HullK 3D- Druckers
---
<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>

		{% include header.html %}



    <div class="content-section-a">
        <div class="container">
					<div class="col-lg-12">
						<hr>
						<img class="img img-rounded animated"runter src="img/hardware/hullk.svg" alt="Hullk">
						<hr>
					</div>
				</div>
			</div>



	<div class="content-section-a">
		<div class="container">
			<div class="row ">
					<div class="col-lg-12">
						<h2>Basic concept</h2>
						<hr>
						<p>"HullK" The design concept is aimed at a minimalisitc polar approach to minimise partcount and therefore buildtime and the overall price. The printed parts are as much combiend as possible so you don´t have to assemble countless parts with tons of screws.
							There are plans to integrate a photogrammetry based 3D-Scanner. The rotating buildplate is perfect for automated photography patterns.
							The camera will most likely be a raspi cam v2 because of the full control of the cam parameters through the API, that also enables automatic upload of the pictures to a more powerful host PC for calculations.
						  The printquality turned out good for a printer that size and the used polar concept.
						
						 </p>
					</div>
			</div>
		</div>
	</div>

	<div class="content-section-a">
		<div class="container">
			<div class="row ">
					<div class="col-lg-3">
						<h2>Part overview, used in the current PoC</h2>
						<hr>
						<a target="_blank" href="https://cloud.netzspielplatz.de/s/TBrKjMADysA2x9J" class="btn btn-primary btn-block" role="button">Bom PDF</a>
						<p>						 </p>
					</div>
				</div>
			</div>
		</div>



<hr>
{% include contact.html %}
{% include footer.html %}

</html>
