---
title: raise-UAV
subTitle: Startseite und ÜBersicht über die Kategorien
---
<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include header.html %}
		{% include about.html %}
		<hr>
		<div class="clearfix"></div>
				<div class="container">
					<div class="row">
						<div class="block">
								<div class="col-lg-6 col-sm-6">
									<a href="hardware.html">
										<div class="card">
										<img class="img-responsive img-rounded" src="img/hardware/front1.jpg" alt="">
									</a>
								</div>
							</div>
								<div class="col-lg-4 col-lg-offset-2 col-sm-6 ">
										<h2 class="section-heading">Produkte</h2>
										<p>Vielseitige 3D-Drucker und Drohnen für den professionellen Einsatz. Geformt durch Erfahrung und mit höchster Sorgfalt gefertigt. </p>
										<a href="hardware.html">
										<button type="button" class="btn btn-primary">Ausstellungsraum</button>
										</a>
										<p> </p>
								</div>
							</div>
						</div>

						<hr>
						<div class="container">
							<div class="row">
								<div class="block">
									<div class="col-lg-4 col-sm-6 ">
											<h2 class="section-heading">Filmproduktion</h2>
											<p>Von Luftaufnahmen bis zur kompletten Filmproduktion. Langjährige Praxis im Drohnenflug und im Bereich Multimedia garantieren Ihnen höchste Qualität für Ihren Image, Dokumentar oder Hochzeitsfilm.</p>
											<a href="media.html">
											<button type="button" class="btn btn-primary">Showreel</button>
											</a>
											<p> </p>
									</div>
										<div class="col-lg-6 col-lg-offset-2 col-sm-6 animated"links>
											<a href="media.html">
												<div class="card">
												<img class="img-responsive img-rounded" src="img/land/movie.jpg" alt="">
											</a>
										</div>
									</div>
									</div>
								</div>

								<div class="container">
									<div class="row">
										<div class="block">
												<div class="col-lg-6 col-sm-6 animated"rechts>
													<a href="hardware.html">
														<div class="card">
														<img class="img-responsive img-rounded" src="img/land/idea.jpg" alt="">
													</a>
												</div>
											</div>
												<div class="col-lg-4 col-lg-offset-2 col-sm-6 ">
														<h2 class="section-heading">Designservice</h2>
														<p>Sie haben eine Idee im Kopf aber nicht die Zeit sie selbst umzusetzen? Unser CAD-Konstruktions und Designservice übernimmt das für Sie. Mit wenigen schritten direkt zum fertigen Produkt.</p>
														<a href="design.html">
														<button type="button" class="btn btn-primary">Ideenwerkstatt</button>
														</a>
														<p> </p>
												</div>
											</div>
											</div>

										<div class="container">
											<div class="row card">
												<div class="block">
												<div class="col-lg-12 animated"fade>
												<h2>Partner und Referenzen</h2>
												<hr>
												<div class="col-lg-12">
												<img class="img img-rounded animated" src="img/referenzen.svg" alt="Referenzen">
												<hr>
												</div>
											<div class="col-lg-2 text-center">
											<a href="http://questionmark-entertainment.de">
											<button type="button" class="btn btn-default ">Questionmark</button>
											</a>
											</div>
											<div class="col-lg-2 text-center">
											<a href="https://www.s3dproducts.de">
											<button type="button" class="btn btn-default">S3DP</button>
											</a>
											</div>
											<div class="col-lg-2 text-center">
											<a href="https://www.planetarium-jena.de">
											<button type="button" class="btn btn-default">Zeiss-Planetarium</button>
											</a>
											</div>
											<div class="col-lg-2 text-center">
											<a href="https://www.freiform3d.de">
											<button type="button" class="btn btn-default">FREIFORM3D</button>
											</a>
											</div>
											<div class="col-lg-2 text-center">
											<a href="https://www.pure-quartz.de">
											<button type="button" class="btn btn-default">PureQuartzInnovation</button>
											</a>
											</div>
											<div class="col-lg-2 text-center">
											<a href="https://www.cerealienkombinat.com">
											<button type="button" class="btn btn-default">16FreundeMüsli</button>
											</a>
											</div>
											</div>
											</div>
										</div>
									</div>







		{% include contact.html %}
		{% include footer.html %}
	</body>
</html>
