---
title: raise-UAV
subTitle: Utillities and Vehicles
---
<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		{% include header.html %}



		{% include about.html %}

		<div class="clearfix"></div>
				<div class="container">
					<div class="row">
						<div class="block">
								<div class="col-lg-6 col-sm-6 animated"rechts>
									<a href="hardware.html">
										<div class="card">
										<img class="img-responsive img-rounded" src="img/land/robots.jpg" alt="">
									</a>
								</div>
							</div>

								<div class="col-lg-4 col-lg-offset-2 col-sm-6 ">

										<h2 class="section-heading">Robots</h2>

										<div class="lead">Flexible und offene Robotik für eine vielzahl von Aufgaben.</div>
										<a href="hardware.html">
										<button type="button" class="btn btn-primary">Ausstellungsraum</button>
										</a>
										<p> </p>
								</div>
							</div>
						</div>
						</div>
						<hr>
						<div class="container">
							<div class="row">
								<div class="block">
									<div class="col-lg-4 col-sm-6 ">

											<h2 class="section-heading">Media</h2>

											<div class="lead">Bewegte Ideen, elegant Komponiert und Präsentiert.</div>
											<a href="Media.html">
											<button type="button" class="btn btn-primary">Showreel</button>
											</a>
											<p> </p>
									</div>
										<div class="col-lg-6 col-lg-offset-2 col-sm-6 animated"links>
											<a href="media.html">
												<div class="card">
												<img class="img-responsive img-rounded" src="img/land/movie.jpg" alt="">
											</a>
										</div>
									</div>


									</div>
								</div>
								</div>



					 <!-- /.container -->

	 						</div>

	 					 <!-- /.container -->


						 </div>



		{% include contact.html %}
		{% include footer.html %}
		{% include js.html %}




	</body>
</html>
