---
title: raise-UAV
subTitle: Startseite und ÜBersicht über die Kategorien
---
<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include header.html %}
		{% include about.html %}
		<hr>
		<div class="clearfix"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-12 card">
								<div class="col-lg-6 col-sm-6 ">
									<a href="d3.html">

										<img class="img-responsive img-rounded" src="img/hardware/front1.jpg" alt="">
									</a>
								</div>


								<div class="col-lg-4 col-lg-offset-2 col-sm-6 ">
										<h2 class="section-heading">Produkte</h2>
										<p>Vielseitige 3D-Drucker für den professionellen Einsatz. Geformt durch Erfahrung und mit höchster Sorgfalt gefertigt. </p>
										<a href="d3.html">
										<button type="button" class="btn btn-primary">Ausstellungsraum</button>
										</a>
										<p> </p>
								</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="block">
							<div class="col-lg-12 card">
							<div class="col-lg-4 col-sm-6 ">
									<h2 class="section-heading">Filmproduktion</h2>
									<p>Von Luftaufnahmen bis zur kompletten Filmproduktion. Langjährige Praxis im Drohnenflug und im Bereich Multimedia garantieren Ihnen höchste Qualität für Ihren Image, Dokumentar oder Hochzeitsfilm.</p>
									<a href="media.html">
									<button type="button" class="btn btn-primary">Showreel</button>
									</a>
									<p> </p>
							</div>
								<div class="col-lg-6 col-lg-offset-2 col-sm-6 animated"links>
									<a href="media.html">
										<div class="card">
										<img class="img-responsive img-rounded" src="img/land/movie.jpg" alt="">
									</a>
								</div>
							</div>
						</div>
					</div>
					</div>		
			<hr>

			<div class="container">

					<div class="block">
						<div class="col-lg-12  animated "fade>
							<h2>Partner und Referenzen</h2>
							<hr>
						</div>

						<div class="col-lg-12">
							<img class="img img-rounded animated" src="img/Referenzen.svg" alt="Referenzen">
						</div>
					</div>

			<hr>

			</div>

		{% include contact.html %}
		{% include footer.html %}
	</body>
</html>
