---
title: Media
subTitle: Startups, Kickstarterkampagnen, Produktvorstellung, Imagekampagnen, Independent Film
---
<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>

		{% include header.html %}
		<div class="row">
        <div class="container">
					<div class="col-lg-12">
						<div class="intro-message">
								<h1 align="center">Das Tor zum Publikum</h1>
								<h4 align="center"></h4>
						</div>
					</div>
				</div>
		</div>

		<div class="content-section-a">

			<div class="row">

        <div class="container">
					<div class="col-lg-12 card">
					<div class="col-lg-6">
						<h4>Stimmungsvolle Luftaufnahmen</h4>
						<hr>
						<p>Über 20 jahre Erfahrung in der Fliegerei wirken sich deutlich auf die Möglichkeiten und vorallem auf die Flugsicherheit auch in grenzwertigen Situationen aus.</p>
						<ul>
		  				<li>Präzise umsetzung von Vorgaben</li>
		  				<li>Hohe Flexibilität vor Ort</li>
		  				<li>Kurze Vorlaufzeiten von mindestens einer Stunde vor Drehbeginn.</li>
							<li>Umfangreiche Nachbearbeitungsmöglichkeiten bis hin zu CGI</li>
						</ul>
					</div>

					<div class="col-lg-6 ">
						<img class="img-responsive img-rounded"src="img/media/mavic.jpg" alt="Chicago">
					</div>
				</div>
			</div>
			</div>




				<div class="container">

					<div class="row animated"fade>
				<div class="col-lg-6">
						<h3 style="text-align:center;">Landschaftsimpressionen</h3>
						<hr>
						<div class="embed-responsive embed-responsive-16by9">
			  		<iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/rWcNxb9c_EQ?rel=0&amp;showinfo=0" allowfullscreen></iframe>
						<hr>
						</div>
						</div>

						<div class="col-lg-6">
								<h3 style="text-align:center;">Filmszenen</h3>
								<hr>
								<div class="embed-responsive embed-responsive-16by9">
					  		<iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/ZyKYNShrU1s?rel=0&amp;showinfo=0" allowfullscreen></iframe>
								<hr>
								</div>
								</div>
						</div>

						</div>
						<hr>



				<div class="container">
				<div class="row">
					<div class="col-lg-12 card">
						<div class="col-lg-6">
							<h4>Professionelle Komplettproduktionen</h4>
							<hr>
							<p>Die wirksamste Methode ein breites Publikum gleichzeitig unterhaltend wie informierend zu erreichen. Ideal für Startups, Kickstarterkampagnen, Produktvorstellung, Imagekampagnen, Independent Film.  </p>
							<ul>
			  				<li>Drehbucherstellung</li>
			  				<li>Umfangreiches Equipment für jede Situation</li>
			  				<li>UAV(Drohnen) Einsatz inklusive</li>
								<li>Schnitt, Audio und Grading an Zielplattform angepasst.</li>
							</ul>
						</div>

						<div class="col-lg-6 ">
							<img class="img-responsive img-rounded"src="img/media/komplett.jpg" alt="Schreibmaschine">
						</div>
					</div>
				</div>
				</div>
				<div class="container">

					<div class="row">
				<div class="col-lg-12 animated"fade>
						<h3 style="text-align:center;">Life-event</h3>
						<hr>
						<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/eDiAOJPlh6o?rel=0&amp;showinfo=0" allowfullscreen></iframe>
						<hr>

						</div>
						</div>
	</div>
	</div>
		</div>
{% include contact.html %}
{% include footer.html %}
{% include js.html %}
</html>
