---
title: 3D-Scan
subTitle: Digitalisierung und Verwertung
---
<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>

		{% include header.html %}


	<div class="row">
        <div class="container">
					<div class="col-lg-12">
						<div class="intro-message">
								<h1 align="center">Photogrammetrischer 3D-Scan</h1>
								<h4 align="center">"Langjährige Erfahrung sorgt für die richtige Strategie bei der Aufnahme und die Zielmediumgerechte weiterverarbeitung und optimierung."</h4>
						</div>
					</div>
				</div>
		</div>

		<div class="content-section-a">
			<div class="row">
S
        <div class="container">
					<div class="col-lg-6">
						<h4>Digitale Konservierung</h4>
						<br>
						<p>Langjährige Erfahrung sorgt für die richtige Strategie bei der Aufnahme und die Zielmediumgerechte weiterverarbeitung und optimierung.</p>
						<ul>
		  				<li>Dokumentation von Grabungsorten in vollem Detail.</li>
		  				<li>Animierte Visualisierung für filmische Verarbeitung</li>
		  				<li>Ermittlung biologischer faktoren durch UAV-mapping</li>
							<li>Als Grundlage für Planungsentscheidungen in der Architektur durch Einbettung des Bauvorhabens in die bestehende Umgebung. Begehbar in Echtzeit mit Virtual Reality, als 360 Panorama oder komplettes Meeting während der Projektion in einem Planetarium.</li>
						</ul>
					</div>

					<div class="col-lg-6 ">
						<img class="img-responsive img-rounded"src="img/services/Relief.png" alt="Chicago">
					</div>
				</div>
			</div>
			</div>
			<div class="content-section-a">
				<div class="row">

	        <div class="container">
						<div class="col-lg-6">
							<h4>Dokumentaion und Auswertung</h4>
							<br>
							<p>Langjährige Erfahrung sorgt für die richtige Strategie bei der Aufnahme und die Zielmediumgerechte weiterverarbeitung und optimierung.</p>
							<ul>
			  				<li>Dokumentation von Grabungsorten in vollem Detail.</li>
			  				<li>Animierte Visualisierung für filmische Verarbeitung</li>
			  				<li>Ermittlung biologischer faktoren durch UAV-mapping</li>
								<li>Als Grundlage für Planungsentscheidungen in der Architektur durch Einbettung des Bauvorhabens in die bestehende Umgebung. Begehbar in Echtzeit mit Virtual Reality, als 360 Panorama oder komplettes Meeting während der Projektion in einem Planetarium.</li>
							</ul>
						</div>

						<div class="col-lg-6 ">
							<img class="img-responsive img-rounded"src="img/services/Archeo.png" alt="Chicago">
						</div>
					</div>
				</div>
				</div>


{% include contact.html %}
{% include footer.html %}
{% include js.html %}
</html>
