---
title: Mesh
subTitle: Digitalisierung und Verwertung
---
<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include header.html %}

		<div class="content-section-a">


        <div class="container">

					<div class="col-lg-12 card ">
						<h4>Digitale Konservierung durch Photogrammetrie, hochauflösend am Boden und in der Luft.</h4>
						<br>
						<p>Langjährige Erfahrung sorgt für die richtige Strategie bei der Aufnahme und die zielmediumgerechte Weiterverarbeitung und Optimierung.</p>
						<p>3D-Scanverfahren sind immer dann von Vorteil wenn komplexe Geometrien erfasst werden sollen oder möglichst genau dem Vorbild entsprechen sollen. Einfache Objekte lassen sich meist schneller von Hand modellieren.</p>
						<br>
						<p>Typische Anwendungen:</p>
						<ul>
		  				<li>Dokumentation von Archeologischen Grabungsorten</li>
							<li>Dokumentation von Schäden oder landschaftlichen Veränderungen über längere Zeit oder z.B. nach Naturkatastrophen.</li>
		  				<li>Animierte Visualisierung für filmische Verarbeitung von Skulpturen oder Personen.</li>
		  				<li>Historische Bauwerke</li>
							<li>Als Grundlage für Planungsentscheidungen in der Architektur, durch Einbettung des Bauvorhabens in die bestehende Umgebung. Begehbar in Echtzeit mit Virtual Reality, als 360 Panorama oder als Projektion in einem Planetarium.</li>
							<hr>
							<p>Erfasste 3D-Modelle können natürlich nicht nur der Dokumentation oder der filmischen Verarbeitung zugeführt werden, sondern eignen sich auch hervorragend um per 3D-Druck z.B. als Souvenier oder als Anschauungsobjekt bei Präsentationen Verwendung zu finden. </p>
						</ul>
					</div>
					<div class="col-lg-6 ">
						<img class="img-responsive img-rounded"src="img/services/relief.jpg" alt="Chicago">
					</div>
					<div class="col-lg-6 ">
						<img class="img-responsive img-rounded"src="img/services/archeo.jpg" alt="Chicago">
					</div>
				</div>
			</div>
			</div>

{% include contact.html %}
{% include footer.html %}

</html>
