---
title: Libelle
subTitle: Versatile and compact UAV
---
<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>

		{% include header.html %}

    <div class="content-section-a">
        <div class="container">
						<div class="col-lg-12">
							<img class="img-responsive animated"hoch src="img/hardware/libelle.svg" alt="logo">
							<hr>

							<div class="content-section-a">
									<div class="col-lg-12">
										<img class="img-responsive img-rounded animated"fade src="img/hardware/libelle_trans.png" alt="iso">
									</div>
								</div>
								</div>
								</div>
								</div>





<div class="content-section-a">
	<div class="row">
		<div class="container">
			<div class="col-lg-6">
				<img class="img-responsive img-rounded"src="img/hardware/libelle_top.png" alt="topview">
			</div>

			<div class="col-lg-6">
				<h4>Kompakt</h4>
				<hr>
				<p>Ihre Kompakte Bauweise macht die Libelle zum unkomplizierten Begleiter.</p>
				<ul>
  				<li>Effizientes Leichtgewicht</li>
  				<li>Windunanfällig</li>
  				<li>Erhöhte Redundanz</li>
					<li>Vergleichsweise hohe Zuladung</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="content-section-a">
	<div class="row">

		<div class="container">
			<div class="col-lg-6">
				<h4>Vielseitiges Gimbal</h4>
				<hr>
				<p>Kameratechnik entwickelt sich ständig weiter und unser Gimbal passt sich entsprechend an.</p>
				<ul>
					<li>Breite DSLM Palette</li>
					<li>Dual Camera Setups</li>
					<li>TIR Wärmebild</li>
					<li>Multispektral</li>
					<li>LIDAR</li>
					<li>Abwurfsysteme für Trichogramma oder Pollen</li>
					<li>LED Setups</li>
					<li>eigene Ideen</li>

				</ul>

			</div>

			<div class="col-lg-6">
				<img class="img-responsive img-rounded"src="img/hardware/libelle_gimbal_trans.png" alt="gimbal">
			</div>

		</div>
	</div>

	<div class="content-section-a">
		<div class="row">
			<div class="container">
				<div class="col-lg-6">
					<img class="img-responsive img-rounded"src="img/hardware/libelle_gcs.png" alt="gcs">
				</div>

				<div class="col-lg-6">
					<h4>Volle Kontrolle</h4>
					<hr>
					<p>Full HD Videoübertragung über die volle gesetzlich zugelassene Entfernung zum Copter. Wahlweise mit Bodenkontrollstation oder im Laptop integriert.</p>
					<ul>
	  				<li>Missionsplanung inkl. Surveys</li>
	  				<li>Alle Flugparameter im Blick auf großem besonders hellem 10" GCS Bildschirm</li>
	  				<li>Lange Akkulaufzeit</li>
						<li>Einfache Bedienung</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


<div class="content-section-a">
	<div class="container">
			<div class="col-lg-6 animated"fade>
				<h4>Technische Daten</h4>
					<table class="table">
							<hr>
							<tbody>
								<tr>
									<td>Flugzeit:</td>
									<td>Ca 25 Minuten mit einzelnem 6S Akku </td>

								</tr>
								<tr>
									<td>Gewicht:</td>
									<td>Etwa 2,5kg ohne Kamera</td>

								</tr>
								<tr>
									<td>Max Geschwindigkeit:</td>
									<td>etwa 60 km/h</td>

								</tr>
								<tr>
								 <td>Dienstgipfelhöhe</td>
								 <td>120m ;)</td>
								</tr>
							</tbody>
				</table>
			</div>

			<div class="col-lg-6 animated"fade>
				<h4>Technische Daten</h4>
				<table class="table">
						<hr>
						<tbody>
							<tr>
								<td>Videolink:</td>
								<td>FullHD downlink zu GCS/Laptop</td>

							</tr>
							<tr>
								<td>Fernsteuerung:</td>
								<td>Wahlweise Graupner oder FRSky</td>

							</tr>
							<tr>
								<td>Firmware:</td>
								<td>Ardupilot</td>

							</tr>


						</tbody>
			</table>
		</div>
</div>
</div>

{% include contact.html %}
{% include footer.html %}
{% include js.html %}
</html>
