    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

              <h1>3D-Drucker</h1>
              <br/>
                <p>Wir fertigen 3D-Drucker die auf allerhöchste Druckqualität und Prozessicherheit ausgelegt sind. Durch direkte Erfahung aus langjähriger Anwendungen wissen wir genau worauf es bei 3D-Druckern wirklich ankommt und setzen diese Kenntnisse gezielt in unseren Produkten um. Kombiniert mit der hohen Qualität von Material und verbauten Komponenten stehen unsere Produkte für Langlebigkeit und sind dank offener CAD-Daten äußerst leicht an die eigenen speziellen Bedürfnisse anzupassen.</p>
                <br/>
                <img class="img-responsive img-rounded center-block"src="img/call.png" alt="Call">
              </div>
        </div>
    </section>
