<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="impressum.html">Impressum</a>
                    </li>
                    <li>
                        <a href="Datenschutz.html">Datenschutz</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                <p>RICHTLINIE ZUR FÖRDERUNG VON FORSCHUNG, TECHNOLOGIE UND INNOVATION (FTI-RICHTLINIE)</p>

                <p>Kaltmietfreistellung im Rahmen der Richtlinie zur einzelbetrieblichen Technologieförderung des Landes Thüringen</p>
                	<img class="img-responsive img-rounded"src="img/efre-eu.svg" alt="Förder">
                  <hr>
                  <a href="http://www.tip-jena.de/">
                  <img class="img-responsive img-rounded"src="img/tip.png" alt="Kaltmiet">
                  </a>

            </div>
        </div>
    </div>


</footer>
