<!-- jQuery Version 1.11.0
<script src="{{ "./js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>
-->

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"</script>
<!-- Custom Theme JavaScript
<script src="{{ "./js/landing-page.js" | prepend: site.baseurl }}"></script>
-->

<!--
<script src="js/scrollMonitor.js"></script>
<script src="js/screen.js"></script>
-->
