@font-face {
   font-family: 'Raleway-Regular';
   font-display: swap;
   src: url('file:///run/media/bklronin/Seagate%20Backup%20Plus%20Drive/WEB/BKLronin.github.io2/BKLronin.github.io/fonts/Raleway-Regular/font.ttf');
}
