@font-face {
   font-family: 'Jost-VariableFont_wght';
   font-display: swap;
   src: url('file:///run/media/bklronin/Seagate%20Backup%20Plus%20Drive/WEB/BKLronin.github.io2/BKLronin.github.io/fonts/Jost-VariableFont_wght/font.ttf');
}
